<div class="content-container">
  <a href="/invoices" class="goBack">< Invoices</a>

  <div class="form">

    <h1>New Invoice</h1>

    <%= render 'form', invoice: @invoice %>

    <div class="d-flex justify-content-center">
      <%= link_to 'Back', invoices_path %>
    </div>

  </div>
</div>
